@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");
html {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
}
.nav.white {
  color: white;
}

.nav-inner {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.sidebar-menu {
  position: fixed;
  top: 50vh;
  right: 1rem;
  transform: translateY(-50%);
  color: black;
}
.sidebar-menu button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}
.sidebar-menu.white {
  color: white;
}

h2 {
  margin-bottom: 2rem;
  font-size: 8rem;
  font-weight: 400;
}
.header {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  color: black;
  width: 100%;
}
.header.white {
  color: white;
}
.header.black {
  color: black;
}
.section {
  height: 50vh;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.section-white {
  background-color: white;
}

.section-black {
  height: 50vh;

  background-color: black;
}
